* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

thead tr {
  background-color: #ddd;
  color: #666;
  text-align: left;
}

th {
  padding: 2px 5px;
  text-align: left;
}

.cajon {
  background-color: rgb(215, 215, 23)
}